<div class="container p-4">

    <div class="row">
        <div id="message" class="col-lg-6 col-md-7  col-sm-12 mx-auto " style="height: 100px">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-7  col-sm-12 mx-auto border my-3 p-4">
            <p class="">
            <h4 class="text-center">Şifreni mi unuttun ?</h4>
            <p class="text-center">
                E-posta adresini gir ve hesabına yeniden girebilmen için sana bir bağlantı gönderelim.
            </p>

            <p>
            <form id="forgotPasswordForm">
                <input type="email" name="email" class="form-control" required placeholder="E-posta adresini gir">
                <button class="btn btn-block btn-outline-primary rounded-pill my-4">Bağlantı Gönder</button>
            </form>

            </p>


            </p>


        </div>
    </div>

</div>

<script>
    function showMessage(message, color) {

        $('#message').html('')
        $('#message').html(
            `
                          <div class='alert alert-${color} alert-dismissible fade show my-3' role='alert'>
                                ${message}
                                <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                                    <span aria-hidden='true'>&times;</span>
                                </button>
                           </div>
                        `)
    }
    $(document).on('submit', '#forgotPasswordForm', function(event) {
        event.preventDefault()

        $.ajax({
            url: '/api/auth/forgot_password',
            type: 'POST',
            data: $('#forgotPasswordForm').serialize(),
            success: function(res) {
                console.log(res)
                showMessage(res.message, 'success')
            },
            error: (err) => {
                console.log(err)
                showMessage(err.responseJSON.error, 'danger')
            },
        })

    })
</script>
