<div class="container p-4">

    <div class="row">
        <div id="message" class="col-lg-5 col-md-7 col-sm-12 mx-auto " style="height: 100px">

        </div>
    </div>
    <div class="row">

        <div class="col-lg-5 col-md-7  col-sm-12 mx-auto border my-5 p-4">

            <h4 class="text-center">Yeni şifreni oluştur</h4>

            <form id="resetPasswordForm" name="resetPasswordForm">
                <input type="password" name="password" id="password" class="form-control" data-toggle="tooltip"
                       title="Şifre 6 karakterden fazla olmalı"
                       required
                       placeholder="Yeni şifreni gir.">
                <button type="submit" id="resetPassword" class="btn btn-block btn-outline-primary rounded-pill  my-4">
                    Şifreyi Değiştir
                </button>
            </form>

            </p>
            </p>


        </div>
    </div>


</div>

<script>
    function showMessage(message, color) {

        $('#message').html('')
        $('#message').html(
            `
                          <div class='alert alert-${color} alert-dismissible fade show my-3' role='alert'>
                                ${message}
                                <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                                    <span aria-hidden='true'>&times;</span>
                                </button>
                           </div>
                        `)
    }
    $(document).on('submit', '#resetPasswordForm', function(event) {
        event.preventDefault()
        console.log("{{forgotPasswordToken}}")
        $.ajax({
            url: `/api/auth/reset_password?forgotPasswordToken={{forgotPasswordToken}}`,
            type: 'POST',
            data: $('#resetPasswordForm').serialize(),

            success: function(res) {
                window.location = res.toUrl
                console.log(err)
            },
            error: (err) => {
                console.log(err)
                showMessage(err.responseJSON.error, 'danger')
            },
        })

    })


</script>
